<!DOCTYPE html>
{% load static %}
<html lang="en" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{% static 'quizcard/css/main_page.css' %}">
    <title>Home Page</title>
</head>
<body>
<div class="body-wrapper">

    <div class="main-window">

        <header class="navbar">
            <div class="user-logout">
                <p>username example</p>
                <a href="account/user_logout/">log out</a>
            </div>
            <div>
                <button class="add-new-deck-btn" id="add-new-deck-btn">+ new deck</button>
            </div>
        </header>

        <main class="main-content">
            <div class="deck-list" id="deck-list">

            </div>

            <div class="create-deck" id="create-deck">
                <form class="create-deck-form">
                    {% csrf_token %}
                    <input type="text" placeholder="deck name" name="deck_name" required>
                    <input type="text" placeholder="deck description" name="deck_description">
                    <button type="submit" id="create-deck-confirm">Confirm</button>
                </form>
            </div>
        </main>

        <footer class="footer">

        </footer>

    </div>

</div>
</body>
<script src="{% static 'quizcard/js/main_page.js' %}"></script>
</html>