<!DOCTYPE html>
{% load static %}
<html lang="en" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{% static 'quizcard/css/main_page.css' %}">
    <title>Home Page</title>
</head>
<body>
<div class="body-wrapper">

    <div class="main-window">

        <header class="navbar">
            <div class="user-logout">
                <p>username example</p>
                <a href="account/user_logout">log out</a>
            </div>
        </header>

        <main class="main-content"></main>

        <footer class="footer">

        </footer>

    </div>

</div>
</body>
</html>