* { padding: 0; margin: 0; font-family: "Bahnschrift"; }

.body-wrapper {
    background-color: #0b0c10;
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.main-window {
    width: 1000px;
    min-width: 1000px;
    min-height: 100%;
    display: flex;
    flex-direction: column;
}

.navbar {
    width: 100%;
    height: 60px;
    background-color: #1f2833;
    border-radius: 5px;
    margin-top: 5px;
    display: flex;
    align-items: center;
}

.user-logout {
    width: 100px;
    height: 100%;
}

.main-content {
    flex: 1 1 auto;
    background-color: #1f2833;
    border-radius: 5px;
    margin-top: 5px;
    margin-bottom: 5px;
    min-width: 100%;
}

.deck-list {
    display: flex;
    flex-wrap: wrap;
    min-width: 100%;
}

.current-deck {
    width: 225px;
    height: 100px;
    margin-top: 20px;
    margin-left: 20px;
    border: #45a29e solid 1px;
    border-radius: 5px;
    color: #66fcf1;
    display: flex;
    justify-content: center;
    align-items: center;
}
.current-deck-description {
    display: none;
}
.current-deck:hover span{
    display: block;
}

.create-deck {
    display: none;
}

.footer {
    width: 100%;
    height: 40px;
    background-color: #1f2833;
    border-radius: 5px;
    margin-bottom: 2px;
}
